# Dependencies
node_modules/

# Next.js
.next/
out/

# Builds / coverage
dist/
build/
coverage/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env files (keep examples)
.env
.env.*
!.env.example
!.env.*.example

# OS / editor
.DS_Store
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Tooling
.turbo/
.vercel/
*.swp
*.swo